<div class='middle_advertising'>    
    <div class='row'>
        <div class='col-md-12 text-center mid_abel'>
            <div id='recommend_btn_area'>
                <%= link_to 'More', mostpopular_items_path, class: 'more_btn', id: 'most_popular_more' %>
            </div>
            <ul class="nav nav-pills">
                <li role="presentation" id='most_popular_btn'>
                    <%= link_to 'Most Popular', mostpopular_path, remote: true %>
                </li>
                <li role="presentation">
                    <%= link_to 'On Sale', onsale_path, id:'on_sale_btn', remote: true %>
                </li>
                <li role="presentation" id='new_arrival_btn'>
                    <%= link_to 'New Arrival', newarrival_path, remote: true %>
                </li>
            </ul>
        </div>
    </div>
    <div id='recommend_area'>
        <%= render 'items/home_page_item_list', id: 'most_popular', name: 'most_popular', objects: Item.top_sale.take(6) %>
    </div>
</div>     
