<div class='row'>
    <div class='col-md-12  popular_item' id= <%= name %>>
        <div class='row'>
            <% objects.each do |item| %>
                <div class='col-md-2 object text-center'>
                    <div class='row'>
                        <div class='col-md-12'>
                            <% unless item.photos.empty? %> 
                                <%= link_to image_tag(item.photos[0].image.url), item_path(item) %>
                            <% else %>
                                <%= link_to image_tag("no_img.jpg", size: '120x120'), item_path(item)  %>
                            <% end %>
                        </div>
                    </div>    
                    <div class='row'>    
                        <div class='col-md-12'>
                            <h5><%= item.title %></h5>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-12'>
                            <p>Rating: <%= item.average_rating %></p>
                        </div>
                    </div> 
                    <div class='row'>
                        <div class='col-md-12'>
                            <p>Price: <%= item.price %></p>
                        </div>
                    </div> 
                </div>
            <% end %>
        </div>
    </div>
</div>