<table class='table table-bordered'>
    <tr class='table_label text-center'>
        <th class='text-center'>
            <h5>No</h5>
        </th>
        <td class='table_img'>
            <h5>Img</h5>
        </td>
        <td class='table_username'>
            <h5>Username</h5>
        </td>
        <td class='table_email'>
            <h5>Email</h5>
        </td>
        <td class='table_info'>
            <h5>Other Info</h5>
        </td>
        <td class='btn_area'>
            <h5>Control Buttons</h5>
        </td>
    </tr>
    
    
    <% users.each_with_index do |user, index| %>
        <tr class='table_user_info'>
            <th class='text-center'>
                <%= index + 1 %>
            </th>
            <td class='table_img'>
                <%= gravatar_image_tag(user.email) %>
            </td>
            <td class='table_username'>
                <h5><%= user.username%></h5>
            </td>
            <td class='table_email'>
                <h5><%= user.email%></h5>
            </td>
            <td class='table_info text-center'>
                <% unless user.standard? %>
                    <%= link_to "Products: #{ user.items.count }", target_product_list_path(user), class: 'btn btn-default' %>
                <% end %>
                <%= link_to "Wishes: #{ user.wish_lists.count }", target_wish_list_path(user), class: 'btn btn-default' %>
                <%= link_to "Ordered: #{ user.orders.count }", target_order_list_path(user), class: 'btn btn-default' %>
                <%= link_to "Review: #{ user.reviews.count }", target_review_list_path(user), class: 'btn btn-default' %>
            </td>
            <td class='btn_area text-center'>
                <!-- for lock/unlock user -->
                <%= link_to 'SaveSpace', '#', class: 'btn btn-info' %>
                    
                <%= link_to 'Delete', user_registration_path(user), method: :delete, class: 'btn btn-danger' %>
            </td>
        </tr>
    <% end %>
</table>