<div class='item_show'>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
            <div class='col-md-5 text-right'>
                <% unless @item.photos.empty? %> 
                    <%= image_tag(@item.photos[0].image.url, class: 'product_img') %>
                <% else %>
                    <%= image_tag("no_img.jpg", size: '420x420') %>
                <% end %>
            </div>
            <div class='col-md-5'>
                <h6>Category: <%= link_to "<#{@item.category.title}>", '#' %></h6>
                <h3><%= @item.title %></h3>
                <h3>Price: $<%= @item.price%></h3>
                <% if @item.quantity < 4 %>
                    <h3 class='quantity_not_alot'>Only <%= @item.quantity %> Left</h3>
                <% elsif @item.quantity < 1 %>
                    <h3 class='out_of_stocK'>Sold Out.</h3>
                <% else %>
                     <h3 class='in_stock'>In Stock.</h3>
                <% end %>
                <div class='sold_review_area'>
                    <p>Sold: <%= item_total_sell(@item) %>, Reviews: <%= @item.reviews.count %>, Rating : <%= average_rating(@item) %>, Wishing: <%= @item.wish_lists.count %></p>
                </div>
                
                <div class='btn_area'>
                    <%= render 'order_items/form', order_item: @item.order_items.new, item: @item %>
                    <%= link_to 'Add to Wish List', [@item, WishList.new], method: :post, class: 'btn btn-info'%>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1 text-center'>
            <h3>Description</h3>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
            <%= @item.body %>
        </div>
    </div>
</div>