<div class='category_show'>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1 text-center'>
            <h1>&lt<%= @category.title %>&gt's information</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1 category_info'>
            <table class="table table-bordered">
                <tr>
                    <th>
                        Descriptions:
                    </th>
                    <td>
                        <%= @category.body %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12 text-center'>
            <h2>List of Items</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1 text-center create_button'>
            <%= link_to 'Add item to this categories', new_item_path, class: 'btn btn-success' %>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1 items_list'>
            <% unless @category.items.empty? %>
                <table class='table table-bordered'>
                    <% @category.items.each_with_index do |item, index| %>
                        <tr>
                            <th class='text-center table_index'>
                                <%= index + 1 %>.
                            </th>
                            <td class='table_img'>
                                <% unless item.photos.empty? %>
                                    <%= image_tag(item.photos.first.image.thumb.url) %>
                                <% else %>
                                    <%= image_tag('no_img.jpg',size: '49x50') %>
                                <% end %>
                            </td>
                            <td class='table_title'>
                                <%= item.title %>
                            </td>
                            <td class='btn_area'>
                                <%= link_to 'Info', item_path(item), class: 'btn btn-default' %>
                                <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-info' %>
                                <%= link_to 'Delete', item_path(item), method: :delete, class: 'btn btn-danger' %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            <% else %>
                <div  class='text-center'>
                    <h4>This category has no item.</h4>
                </div>
            <% end %>
        </div>
    </div>
</div>