<div class='container-fluid'>
    <div class='header'>
        <div class='row'>
            <div class='col-md-1'>
                <%= link_to image_tag('logo.jpg', class: 'img-responsive', alt: 'Responsive image'), root_path %>
            </div>
            <div class='col-md-3'>
                <h1>Kim's Store</h1>
            </div>
            <div class='col-md-3 col-md-offset-5'>
                <div class=' nav_area'>
                    <ul class='nav nav-pills'>
                        <li role='presentation' class='dropdown'>
                            <%= link_to 'Account', '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } %>
                            <ul class='dropdown-menu' id='account'>
                                <% unless current_user %>
                                    <li>
                                        <%= link_to 'Sign Up', root_path %>
                                    </li>
                                    <li>
                                        <%= link_to 'Sign In', root_path %>
                                    </li>
                                <% else %>
                                    <li>
                                        <%= link_to 'Orders', root_path %>
                                    </li>
                                    <li>
                                        <%= link_to 'Setting', root_path %>
                                    </li>
                                <% end %>
                            </ul>
                        </li>
                        <li role='presentation' class='dropdown'>
                            <%= link_to 'Help', '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } %>
                            <ul class='dropdown-menu' id='help'>
                                <li>
                                    <%= link_to 'About Us', root_path %>
                                </li>
                                <li>
                                    <%= link_to 'Contact Us', root_path %>
                                </li>
                                <li>
                                    <%= link_to 'Help', '#' %>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <%= bootstrap_form_tag url: searches_path, method: :get do |f| %>
                        <%= f.text_field :query, hide_label: true,  icon: 'search', layout: :inline, control_class: 'glyphicon glyphicon-search' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>