<div class='container-fluid'>
    <div class='header'>
        <div class='row'>
            <div class='col-md-1'>
                <%= link_to image_tag('logo.jpg', class: 'img-responsive', alt: 'Responsive image'), root_path %>
            </div>
            <div class='col-md-3'>
                <h1 >Kim's Store</h1>
            </div>
            <div class='col-md-3 col-md-offset-5'>
                <div class=' nav_area'>
                    <ul class='nav nav-pills'>
                        <li role='presentation' class='dropdown'>
                            <%= link_to 'Account', current_user, class: 'dropdown-toggle' %>
                            <ul class='dropdown-menu'>
                                <% unless current_user %>
                                    <li>
                                        <%= link_to 'Sign Up', new_user_registration_path %>
                                    </li>
                                    <li>
                                        <%= link_to 'Sign In', new_user_session_path %>
                                    </li>
                                <% else %>
                                    <li>
                                        <%= link_to 'Orders', user_orders_path(current_user) %>
                                    </li>
                                    <li>
                                        <%= link_to 'Setting', current_user %>
                                    </li>
                                    <li>
                                        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
                                    </li>
                                <% end %>
                            </ul>
                        </li>
                        <li role='presentation' class='dropdown'>
                            <%= link_to 'Help', help_path, class: 'dropdown-toggle' %>
                            <ul class='dropdown-menu'>
                                <li>
                                    <%= link_to 'About Us', about_path %>
                                </li>
                                <li>
                                    <%= link_to 'Contact Us', new_message_path %>
                                </li>
                                <li>
                                    <%= link_to 'Help', help_path %>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <%= bootstrap_form_tag url: searches_path, method: :get do |f| %>
                        <%= f.text_field :query, hide_label: true,  icon: 'search', layout: :inline, control_class: 'glyphicon glyphicon-search' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>