<!DOCTYPE html>
<html>
  <head>
    <title>OnlineStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %>
      <div class='container'>
        <p><%= alert %></p>
      </div>
    <% elsif notice %>
      <div class='container'>
        <p><%= notice %></p>
      </div>
    <% end %>
    
    <div class='container'>
      <%= yield %>
    </div>
    
    <div class='container'>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
