<!DOCTYPE html>
<html>
  <head>
    <title>OnlineStore</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class='container-fluid'>
      <%= render '/layouts/header' %>
    </header>
    <%= render 'layouts/message' %>
    <main>
      <%= yield %>
    </main>
    <div class='container-fluid'>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <footer class='container-fluid'>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
